<div class="modal fade text-light my-border" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content text-light" style="background-color: #202020">
            <div class="modal-body">
                <div id="partialContent" class="my-border">
                </div>
            </div>
            <div class="modal-footer my-border mt-0 mr-3 mb-3 ml-3 p-1">
                <button type="button" class="btn btn-secondary btn-sm m-1" data-dismiss="modal">Ukoncit</button>
            </div>
        </div>
    </div>
</div>
<link href="~/css/MainStyleSheet.css" rel="stylesheet"/>