@model DMStorage.Core.ViewModels.ListsViewModel

<h6 style="color: #39cf6a">Seznam zarizeni</h6>
<div class="my-border">

    <ul class="col-12 scrollable-list">
        @foreach (var dev in Model.Devices)
        {
            <li>
                <a href="@Url.Action("Details", "Home", new { type = "device", id = dev.Id })">
                    <div class="row p-0 m-0">
                        <p class="text-secondary"> (@dev.TypeDevice.Name)</p>
                        <p>  @dev.Name</p>
                    </div>
                </a>
            </li>
        }
    </ul>
</div>