:root {
    --body-bg-color: #202020;
    --main-bg-color: #202020;
    --a-linki-color: wheat;
    --other-color: b28f62;
}

body {
    background-color: var(--body-bg-color);
}

main{
    background-color: var(--main-bg-color);
}

a{
    color: var(--a-linki-color);
}